@CHARSET "ISO-8859-1";


body, html {

    width: 99%;
    height: 97%;
    background-color: orange;
    

}

body {

    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    padding: 0;
    min-height: 100%;
    display: table;
    font-family: "Open Sans",Arial,sans-serif;

}

a {
	text-decoration: none;
	color: #fff;
	font-size: inherit;
	border-bottom: dotted 1px #707070;
}

a {
	background-color: transparent;
}

.lead {

    color: silver;
    font-size: 21px;
    line-height: 1.4;

}

h1 {

    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 36px;

}

.cover {

    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;

}

h1 small {

    font-size: 68%;
    font-weight: 400;
    line-height: 1;
    color: #777;

}
